@media screen and (max-width: 1023px) {
    .dashboard-panel {
        position: relative;
        transform: translateX(-100%);
        transition: 350ms;
        z-index: 1;
    }

    .dashboard-main {
        position: absolute;
        transform: translateX(0%);
        transition: 350ms;
    }

    .dashboard-panel.is-active {
        /* position: relative; */
        transform: translateX(0%);
        transition: 350ms;
    }
}